# Ignore virtual environment
venv/
Lib/
Scripts/
pyvenv.cfg

# PyCharm
.idea/

# Ignore runtime logs
chat_log.txt

# Ignore data folders and extracted data
electronics_knowledge/
extracted_text/
vector_db/

# Bytecode & Python cache
__pycache__/
*.pyc
